<h1>Les coupables</h1>
<p>Vous êtes vénères car votre secret le plus sombre est mis en lumière sur The Gossip Project ? Vous cherchez une personne à haïr ? Nous vous en offrons 3 sur un plateau. Avouez que vous kiffez quand même notre site et nos scoops les plus croustillants, telle l'une des merveilles de Scoop me a Coookie :p !</p>

<div id="portfolio" class="container-fluid text-center bg-grey">
  <div class="row text-center slideanim slide">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("jacquouille.jpg", alt: "logo TGP", class:"img_logo_nav") %>
        <p><strong>Jacquouille</strong></p>
        <p>Il paye pas de mine, mais il en tient un morceau (quand on parle de morceau, on parle bien évidemment de scoop, Okayyy ?!).</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("zezette.jpg", alt: "logo TGP", class:"img_logo_nav") %>
        <p><strong>Zézette</strong></p>
        <p>Clairement pas la truite la plus oxygénée du ruisseau. "Ca dépend, ça dépasse" jamais pour les scoops ;)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("fdamiens.jpg", alt: "logo TGP", class:"img_logo_nav") %>
        <p><strong>Claudy Focan</strong></p>
        <p>"Si je te dis t'es tendu(e), t'es tendu(e) !" Cet amour de Claudy saura gérer la médiation de tous les petits cons pas -tents.</p>
      </div>
    </div>
  </div>
</div>

<%= link_to "Contacter notre équipe de choc", contact_path %>
