<h1 class="py-5">Hey le gueux !</h1>
<p>Nous on est super charrette (sauf quand il s'agit de potins of course), mais si tu insistes, laisse ton message ici. On essaiera de te répondre au plus vite quand même va !</p>
<p>La bise sur les 4 joues !</p>

<div class="container text-center py-5">
    <p>Ton petit nom</p>
    <input>

    <p>Ton mail</p>
    <input>

    <p>Ton 06</p>
    <input>

    <p>Dis-nous tout petit papillon bleu</p>
    <input>
</div>
