<header>

    <h1>Et bonsoiiiir !</h1>
    <p>Bienvenue sur The gossip project</p>
    <p>Vous retrouverez ici tous les potins de The Hacking project (oh la la)</p>

      <% @gossips.each do |gossip| %>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3 card-home">
            <div class="card-body mt-auto mb-auto">
              <h5 class="card-title"><%= gossip.title %></h5>
              <p class="card-text"><em><%= gossip.content %></em></p>
              <a href="potin/<%=gossip.id%>" class="btn btn-primary mb-0">Voir le potin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

</header>
